
Write/write20190629_V3_2/addition.tex
Write/write20190629_V3_2/addition.tex.bak
Write/write20190629_V3_2/elsarticle-template.aux
Write/write20190629_V3_2/elsarticle-template.dvi
Write/write20190629_V3_2/elsarticle-template.log
Write/write20190629_V3_2/elsarticle-template.out
Write/write20190629_V3_2/elsarticle-template.out.bak
Write/write20190629_V3_2/elsarticle-template.pdf
Write/write20190629_V3_2/elsarticle-template.synctex.gz
